<form (ngSubmit)="AjouterContact()">
    <div class="mb-3">
      <label for="nom" class="form-label">Nom</label>
      <input type="text" class="form-control" id="nom" [(ngModel)]="utilisateur.nom" name="nom" required>
    </div>
    <div class="mb-3">
      <label for="prenom" class="form-label">Prénom</label>
      <input type="text" class="form-control" id="prenom" [(ngModel)]="utilisateur.prenom" name="prenom" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="utilisateur.email" name="email" required>
    </div>
    <div class="mb-3">
      <label for="etat" class="form-label">État</label>
      <input type="text" class="form-control" id="etat" [(ngModel)]="utilisateur.etat" name="etat" required>
    </div>
    <div class="mb-3">
      <label for="telephone" class="form-label">Téléphone</label>
      <input type="text" class="form-control" id="telephone" [(ngModel)]="utilisateur.telephone" name="telephone" required>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input type="text" class="form-control" id="description" [(ngModel)]="utilisateur.description" name="description" required>
    </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>
  </form>